<article class="edit">
<form action="<?=$this->baseUri;?>" method="post">
<p>
<textarea name="text" cols="60" rows="5"><?=_('You can take a note.');?></textarea><br>
<input type="submit" value="<?=_('Save');?>">
</p>
</form>
</article>

<?php if (!empty($this->notes)): foreach ($this->notes as $note): ?>

<article class="note">
<h3><a href="<?=$this->baseUri . $note->id;?>"><?=_('Note') . ' ' . $note->id;?></a></h3>
<?=Flooer_Utility_Text::convertUri(Flooer_Utility_Element::convert($note->text));?>
</article>

<?php endforeach; endif; ?>
